.chart {
  display: block;
  height:100%;
  width:100%;
}
.ct-bar {
  stroke-width: 8%;
}

.ct-series-a .ct-point {
  stroke-width: 5px;
  &:hover {
  stroke-width: 15px;
  }
}

.ct-area {
  fill-opacity: 0.8;
}

.chart-primary {
   .ct-area {
    fill: @theme-primary;
  }
  .ct-line,
  .ct-point,
  .ct-bar {
    stroke: @theme-primary;
  }
}

.chart-secondary {
  .ct-area {
    fill: @theme-secondary;
  }
  .ct-line,
  .ct-point,
  .ct-bar {
    stroke: @theme-secondary;
  }
}
.chart-tertiary {
  .ct-area {
    fill: @theme-tertiary;
  }

  .ct-line,
  .ct-point,
  .ct-bar {
    stroke: @theme-tertiary;
  }
}
