@floorplan-tilt: 45deg;
.floorplan-container {
  perspective: 800px;
  backface-visibility: hidden;
}
.floorplan img {
  filter: grayscale(1);
  transform: translateZ(-1px);
}
.floorplan {
  min-height:160px;
  min-width: 300px;
  transform: rotateX(@floorplan-tilt);
  transform-style: preserve-3d;
  transition: transform 1s,box-shadow 1s;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.5);
}

.floorplan-pin {
  font-size: 25px;
  transform: rotateX(-@floorplan-tilt) translate3d(-15px,-15px, 1px);
  transform-origin: bottom;
  transform-origin: bottom;
  transition: transform 1s;
  color: #36a3ff;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}
