.sidebar {
  position:absolute;
  display: flex;
  flex-direction: row;
  left:0;
  bottom:0;
  height: 80px;
  width: 100%;
  align-items: center;

  background-color: @gray-dark;
  color: white;

  @media (min-width: @screen-sm-min) {
    flex-direction: column;
    top:0;
    width: 80px;
    height: 100%;
  }
}

.sidebar-link {
  width: 100%;
  text-transform: center;
  .font-size-huge;
  text-align: center;
  flex-grow: 1;
  float: left;

  cursor: pointer;

  img {
    width: 50px;
  }

  &.active {
    color: @brand-primary;
  }

  @media (min-width: @screen-sm-min) {
    flex-grow: 0;
    padding: 15px;
    display: block;
    float:none;
  }
}

.has-sidebar {
  height:100%;
  position:relative;
  padding-bottom: 80px;
  @media (min-width: @screen-sm-min) {
    padding-bottom: 0px;
    padding-left:80px;
  }
}

.header-top {
  padding-top: 70px;
  position: relative;
}

.header {
  position: absolute;
  z-index:1;
  width: 100%;
  top: @grid-gutter-width/2;
}
