@sidebar-width: 200px;
.sidebar {
  position:absolute;
  display: flex;
  flex-direction: row;
  left:0;
  bottom:0;
  height: 72px;
  width: 100%;
  align-items: center;
  text-align:center;

  background-color: @gray-dark;
  color: @gray-lighter;

  @media (min-width: @screen-sm-min) {
    padding-top: 15px;
    align-items: left;
    text-align:left;
    flex-direction: column;
    top:0;
    width: @sidebar-width;
    height: 100%;
  }
}



.sidebar-link {
  width: 100%;
  .font-size-huge;
  flex-grow: 1;
  float: left;
  padding: 15px;

  cursor: pointer;

  img {
    width: 50px;
  }
  color: @gray;

  &.active {
    color:white;
    i {
      color: @brand-primary;
    }
  }

  @media (min-width: @screen-sm-min) {
    flex-grow: 0;
    .font-size-base;
    padding: 15px;
    display: block;
    float:none;
    i {
      margin-right:10px;
    }
  }
}

.has-sidebar {
  height:100%;
  position:relative;
  padding-bottom: 72px;
  @media (min-width: @screen-sm-min) {
    padding-bottom: 0px;
    padding-left:@sidebar-width;
  }
}
