//
// Utility classes
// --------------------------------------------------

// Display
// -------------------------

.relative {
  position:relative;
}
.absolute {
  position:absolute;
}

.bottom {
  .absolute;
  top: auto;
  bottom:0;
}

.a {
  cursor: pointer;
}

.block {
  display: block;
  width: 100%;
}

.table {
  display: table;
}

.gutter-top {
  padding-top: @grid-gutter-width/2
}

.gutter-bottom {
  padding-bottom: @grid-gutter-width/2
}
.no-gutter {
  padding-left:0;
  padding-right:0;
}

.valign-center {
  display: table-cell;
  vertical-align: middle;
}

.full-height {
  height: 100%;
}

.scroll-y {
  overflow: scroll;
}

// color
// -------------------------

.bg-white {
  background-color: #fff;
}

.bg-gray-lighter {
  background-color: @gray-lighter;
}

.bg-gray-light {
  background-color: @gray-light;
}

.bg-gray {
  background-color: @gray;
}

.bg-gray-dark {
  background-color: @gray-dark;
}

.bg-gray-darker{
  background-color: @gray-darker;
}


.bg-primary {
  background-color: @theme-primary;
}

.bg-secondary {
  background-color: @theme-secondary;
}

.bg-tertiary {
  background-color: @theme-tertiary;
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}

.pull-right-sm {
  @media (min-width: @screen-sm-min) {
    float: right !important;
  }
}

.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
