<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">

    <title>Sentia.io</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link type="text/css" href="icons.css" rel="stylesheet"/>
    <link type="text/css" href="build/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="icon" sizes="192x192" href="images/logos/logo_192.png">
    <link rel="icon" sizes="128x128" href="images/logos/logo_128.png">
    <link href="images/logos/logo_60.png" rel="apple-touch-icon"/>
    <link href="images/logos/logo_76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="images/logos/logo_120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="images/logos/logo_152.png" rel="apple-touch-icon" sizes="152x152" />
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    if (window.location.hostname === 'app.sentia.io') {
        mixpanel.init("134d6d9e6875452bc5145a59275ebced");
    } else {
        mixpanel.init("d1993405d00e1202ed48744fdce9c656");
    }
</script>
    <!-- end Mixpanel -->
  </head>

  <body>
    <div ng-controller="MainCtrl" class="main-wrap full-height">
        <!-- <div class="nav-button hide-on-login icon-menu a" ng-click="toggleMenu()"> -->
        <!-- </div> -->
        <div id="content" class="pages full-height" ng-class="{'right' : showMenu}">
            <ng-view class="animate-fade full-height  scroll-y"></ng-view>
        </div>
        <!-- <div id="sidebar" class="sidebar bg-gray-dark" ng-show="showHeader" style="white-space: normal;">
            <ul class="menu">

                <li ng-class="{active : page === 'store' || page === 'cam'}" class="a" ng-click="go('/store')">  <div class="icon-home"></div></li>
                <li ng-class="{active : page === 'users'}" class="a" ng-click="go('/users')">
                    <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=40&d=http://www.tiger-stores.com/images/tiger.jpg" alt="" id="active-user-avatar" class="img-xs-round">
                </li>

                <li class="a" ng-click="logout()" ><div class="icon-switch"></div></li>
            </ul>
        </div> -->
    </div>

<script src="build/bundle.js" type="text/javascript"></script>
</body>
</html>
