<nav class="toolbar toolbar toolbar-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-xs-2">
        <a href="/#/store" class="toolbar-item">
          <i class="icon-undo"></i>
        </a>
      </div>
      <div class="col-sm-4 col-xs-8 text-center">
        <a ng-class="{active : (tabs.active === 0)}" class="toolbar-item" ng-click="selectTab(0)">
          <i class="icon-fire"></i>
        </a>
        <a ng-class="{active : (tabs.active === 1)}" class="toolbar-item" ng-click="selectTab(1)">
        <i class="icon-location"></i>
        </a>
        <a ng-class="{active : (tabs.active === 2)}" class="toolbar-item" ng-click="selectTab(2)">
          <i class="icon-stats"></i>
        </a>
      </div>
      <div class="col-sm-4 col-xs-2 text-right">
        <pickadate date="date" class="toolbar-item"></pickadate>
      </div>
    </div>
  </div>
</nav>

<swiper active="tabs.active" class="full-page">
  <swiper-slide>
    <div class="hidden-xs p-top"></div>
    <div class="">
      <div class="">
        <div class="col-sm-8 col-sm-offset-2 gutter-bottom">
          <div class="paper row" >
            <div class="map-container " style="transform:rotate({{camera.rotate || 0}}deg); -webkit-transform:rotate({{camera.rotate || 0}}deg)">
              <img ng-src="/images/cameras/{{camera._id}}.jpg" alt="" class="paper-image" >
              <div class="loader" ng-show="!map"></div>
              <s-heatmap data="map" cols="camera.cols" rows="camera.rows" class="ng-isolate-scope">
                <canvas style="width : 100%; height : 100%" width="1280" height="720"></canvas>
              </s-heatmap>
            </div>
            <div class="container-fluid paper-label">
              <h4>{{camera.name}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1 p-top-large text-center">
        <p>The Heatmap shows customer density in the variaous areas of your store. Red indicates a very popular area, and blue indicates relivately low popularity</p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
  <div class="hidden-xs p-top"></div>
    <div class="">
      <div class="">
        <div class="col-sm-8 col-sm-offset-2 gutter-bottom">
          <div class="paper row" style="transform:rotate({{camera.rotate || 0}}deg); -webkit-transform:rotate({{camera.rotate || 0}}deg)">
            <div style="" class="map-container ">
              <img ng-src="/images/cameras/{{camera._id}}.jpg" alt="" class="paper-image" style="width:100%">
              <div class="loader" ng-show="!map"></div>
              <s-flowmap data="map" cols="camera.cols" rows="camera.rows" trigger="tabs.active" class="ng-isolate-scope">
                <svg viewbox="0 0 250 250"></svg>
              </s-flowmap>
            </div>
            <div class="container-fluid paper-label">
                <h4>{{camera.name}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1 p-top-large text-center">
        <p>The flow map shows customer movement in your store. The direction of the arrows show the general direction of customer movement. The color of the arrow shows the intensity of the flow.</p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="col-sm-10 col-sm-offset-1 p-top-large" ng-hide="people">
      <div class="text-center">
        <p>There is no people information available for the selected camera and date.</p>
      </div>
    </div>
    <div class="container p-top-large" ng-show="people">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="caps text-center">Total people in</h5>
          <h1 class="text-primary text-center jumbo">{{people.total_in}}</h1>
        </div>
        <div class="col-sm-6" ng-show="false">
          <h5 class="caps text-center">Total people out</h5>
          <h1 class="text-warning text-center jumbo">{{people.total_out}}</h1>
        </div>
        <div class="col-xs-4" ng-show="false">
          <h1 class="text-danger text-center">{{people.total_bounce}}</h1>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1 p-top-large" ng-show="people.people_in">
        <h5 class="caps">People in</h5>
        <linechart data="people.people_in" trigger="tabs.counter"></linechart>
      </div>
      <div class="col-xs-12 p-top-large" ng-show="false && people.people_out">
        <h5 class="caps">People out</h5>
        <linechart data="people.people_out" trigger="tabs.counter"></linechart>
      </div>
      <div class="col-xs-12 p-top" ng-show="false && people.bounce">
        <h5 class="caps">Bounce</h5>
        <linechart data="people.bounce" trigger="tabs.counter"></linechart>
      </div>
    </div>
  </swiper-slide>
</swiper>
