<div class="page container-fluid p-top padding-xs-none">
    <div class="container-fluid padding-xs-none">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <p class="input-group">
                    <div class="dropdown" style="text-align: center">
                        <a  class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">{{date | date:'medium'}}</a>
                        <ul class="dropdown-menu" role="menu" style="width : 100%">
                            <datepicker ng-model="date" min-date="" show-weeks="true" class="well well-sm"></datepicker>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="widget widget-content">
            <div style="border: 5px solid white; box-shadow : 0px 1px 5px rgba(0,0,0,0.4);" class="map-container">
                <s-heatmap data="map" cols="camera.cols" rows="camera.rows" ng-show="tabs.heat" class="ng-isolate-scope"><canvas style="width : 100%; height : 100%" width="1280" height="720"></canvas></s-heatmap>
                <s-flowmap data="map" cols="camera.cols" rows="camera.rows" trigger="tabs.flow" ng-show="tabs.flow" class="ng-isolate-scope ng-hide"><svg viewBox="0 0 250 250"></svg></s-flowmap>
                <img ng-src="/images/cameras/{{camera._id}}.jpg" alt="" class="header-image" style="width:100%">
            </div>
        </div>
        <tabset>
            <tab select="selectTab('details')" active="tabs.details">
                <tab-heading>
                    <i class="icon-camera"> Details</i>
                </tab-heading>

            </tab>
            <tab select="selectTab('heat')" active="tabs.heat">
                <tab-heading>
                    <i class="icon-fire"></i> Heatmap
              </tab-heading>
              <div class="container p-top">
                <div class="well well-lg">

                    <p>The heat map shows customer density in the variaous areas of your store. Red indicates a very popular area, and blue indicates relivately low popularity</p>
                </div>
              </div>
            </tab>
            <tab select="selectTab('flow')" active="tabs.flow">

                <tab-heading>
                    <i class="icon-location"></i> Flowmap
                </tab-heading>
                <div class="container p-top">
                    <div class="well well-lg">
                        <p>The flow map shows customer movement in  your store. the direction of the arrows show the general direction of customer movement in the store. The color of the arrow shows the intensity of the flow.</p>
                    </div>
                </div>
            </tab>
            <tab select="selectTab('counter')" active="tabs.counter">
                <tab-heading>
                    <i class="icon-stats"></i> Counter
              </tab-heading>
            </tab>
        </tabset>
    </div>
    </div>
</div>

