<div class="page container-fluid p-top padding-xs-none">
    <div class="container-fluid padding-xs-none">
    <div class="container">
        <div class="row">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="widget widget-content">
            <div style="border: 5px solid white; box-shadow : 0px 1px 5px rgba(0,0,0,0.4);">
                <img ng-src="/images/cameras/{{cam._id}}.jpg" alt="" class="header-image" style="width:100%">
            </div>
        </div>
        <ul class="tabs">
        <li class="tab active"><h4>Heatmap</h4></li>
        <li class="tab"><h4>Flowmap</h4></li>
        <li class="tab"><h4>Counter</h4></li>
    </ul>
    </div>

        <!-- <div id="camera-details" class="widget widget-white">
            <div class="container-fluid p-bottom p-top padding-xs-none">
                <div class="col-sm-9 padding-xs-none">
                    <div id="camera-shot" class="map-container">
                        <img ng-src="/images/cameras/{{cam.id}}.jpg" alt="" class="header-image">
                        <s-heatmap data="map" cols="cam.cols" rows="cam.rows" ng-show="mapQuery.type ==='heat'"></s-heatmap>
                        <s-flowmap data="map" cols="cam.cols" rows="cam.rows" ng-show="mapQuery.type ==='flow'"></s-flowmap>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <ul id="camera-timeline" class="timeline">
                                <li ng-repeat="value in timeline.data track by $index" class="timeline-item" tooltip="{{$index}}:00" tooltip-append-to-body="true" tooltip-placement="bottom" ng-click="mapQuery.hour = $index" ng-class="{active: mapQuery.hour === $index}">
                                    <div class="timeline-bar" style="height: {{((value / timeline.max) *100) + '%'}}" ></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="camera-control" class="row clearfix" role="form">
                        <div class="container-fluid">
                            <div class="well">

                                <div class="form-group text-center">
                                <input type="radio" name="mapType" ng-model="mapQuery.type" value="heat" id ="cam-maptype-heat">
                                    <label class="radio-inline" for="cam-maptype-heat">Heatmap</label>
                                <input type="radio" name="mapType" ng-model="mapQuery.type" value="flow" id ="cam-maptype-flow">
                                    <label class="radio-inline"  for="cam-maptype-flow">Flowmap</label>
                                </div>
                                <div class="form-group">
                                    <datepicker class="datepicker" show-weeks="false" ng-model="mapQuery.date"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

