<!-- <div class="page container-fluid"> -->
  <tabs active="currentTab">
      <tab select="selectTab('details')" active="tabs.details">
          <tab-heading ng-class="{active : (currentTab === 0)}" ng-click="selectTab(0)">
            <i class="icon-home"></i> Details
        </tab-heading>
        <div class="container gutter-top-large gutter-bottom-large">
          <h1 class="text-center jumbo">{{store.name}}</h1>
          <h4 class="text-center caps">{{cameras.length}} cameras</h4>
        </div>
      </tab>
      <tab>
          <tab-heading ng-class="{active : (currentTab === 1)}" ng-click="selectTab(1)">
              <i class="icon-basket"></i> Sales
        </tab-heading>
        <div class="container p-top-large">
          <div class="row text-center">
            <picker date="date"></picker>
          </div>
          <div class="container" ng-show="pos">
            <div class="row">
                <div class="col-sm-6 gutter-top-large">
                  <h5 class="caps text-center">Total revenue</h5>
                  <h1 class="text-primary text-center jumbo">{{pos.totalRevenue}}<span class="small">DKK</span></h1>
                </div> 
                <div class="col-sm-6 gutter-top-large">
                  <h5 class="caps text-center">Total transactions</h5>
                  <h1 class="text-warning text-center jumbo">{{pos.totalTransactions}}</h1></div> 
                </div>
            </div>
            <div class="col-lg-6 gutter-top" ng-show="pos.revenue">
                <h5 class="caps">Revenue</h5>
                <linechart data="pos.revenue" trigger="tabs.counter"></linechart>
            </div>
            <div class="col-lg-6 gutter-top" ng-show="pos.transactions">
                <h5 class="caps">Transactions</h5>
                <linechart data="pos.transactions" trigger="tabs.counter"></linechart>
            </div>
          </div>  
        </div>
      </tab>
      <tab>
        <tab-heading ng-class="{active : (currentTab === 2)}"  ng-click="selectTab(2)">
            <i class="icon-camera"></i> Cameras
        </tab-heading>
          <div id="camera-list" class="container-fluid p-top p-bottom">
              <div class="container-fluid">
                  <input type="text" id="camera-list-search" class="form-control" role="search" ng-model="camSearch">
              </div>
              <ul class="list list-widgets row">
                  <li ng-repeat="cam in cameras | filter : camSearch | orderBy : 'name'" ng-click="$parent.selectedCam = cam" ng-class="{active: selectedCam._id === cam._id}" class="col-md-4 col-sm-6 animate-slide">
                  <a ng-click="go('/store/camera/{{cam._id}}')">
                      <div class="widget a widget-content gutter-top" style="transform:rotate({{cam.rotate || 0}}deg); -webkit-transform:rotate({{cam.rotate || 0}}deg)">
                          <!-- <h5 class="searchable caps" ng-bind-html="'{{cam.name}}' | highlight:camSearch:false"></h5> -->
                          <div style="height :195px; overflow: hidden; border: 5px solid white; box-shadow : 0px 1px 5px rgba(0,0,0,0.4);">
                              <img ng-src="/images/cameras/{{cam._id}}.jpg" alt="" class="header-image">
                          </div>
                      </div>
                  </a>
                  </li>
              </ul>
          </div>
      </tab>
      <div class="pagination"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
  </tabs>
<!-- </div> -->
