<div class="toolbar toolbar-lg">
  <div class="container-fluid">
    <div class="col-sm-4 col-xs-2">
      <a href="#" ng-click="$root.logout()" class="toolbar-item">
        <i class="icon-switch"></i>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 text-center">

      <a ng-class="{active : (activeTab === 0)}" class="toolbar-item" ng-click="selectTab(0)">
        <i class="icon-home"></i>
      </a>
      <a ng-class="{active : (activeTab === 1)}" class="toolbar-item" ng-click="selectTab(1)">
        <i class="icon-bars"></i>
      </a>
      <a ng-class="{active : (activeTab === 2)}" class="toolbar-item" ng-click="selectTab(2)">
        <i class="icon-camera"></i>
      </a>
    </div>
    <div class="col-sm-4 col-xs-4 text-right">
      <pickadate to="$parent.endDate" date="$parent.startDate" class="toolbar-item" show="showDatePicker"></pickadate>
      <pickadate from="$parent.startDate" date="$parent.endDate" class="toolbar-item" show="showDatePicker"></pickadate>
    </div>
  </div>
</div>
<swiper active="activeTab" class="full-page">
  <swiper-slide select="selectTab('details')" active="tabs.details">
    <div class="container gutter-top-large gutter-bottom-large">
      <h1 class="text-center jumbo">{{store.name}}</h1>
      <h4 class="text-center caps gutter-top-large">{{cameras.length}} cameras</h4>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="container-fluid p-top">
      <div class="row text-center">
      </div>
      <div>
        <div class="row p-bottom-large clearfix">
          <div class="col-sm-6 gutter-top-large">
            <h5 class="caps text-center">Conversion Rate</h5>
            <h1 class="text-info text-center jumbo">{{((totalTransactions/ totalPeopleIn) || 0) * 100 | waiting | dkNumber : 2}}
              <span class="small">%</span>
            </h1>
          </div>
          <div class="col-sm-6 gutter-top-large">
            <h5 class="caps text-center">Basket Size</h5>
            <h1 class="text-primary text-center jumbo">{{(totalRevenue / totalTransactions) || 0 | waiting | dkNumber : 2}}
              <span class="small">DKK</span>
            </h1>
          </div>
          <div class="col-sm-12 gutter-top-large">
            <h5 class="caps text-center">Revenue</h5>
            <h1 class="text-primary text-center jumbo">{{totalRevenue | waiting | dkNumber : 2}}
              <span class="small">DKK</span>
            </h1>
            <linechart data="revenueData" options="charts.options" trigger="tabs.counter"></linechart>
          </div>
          <div class="col-sm-12 gutter-top-large">
            <h5 class="caps text-center">Churn Rate</h5>
            <barchart data="churnRateData" options="charts.BarOptions" trigger="tabs.counter" class="ct-success"></barchart>
          </div>
          <div class="col-sm-6 gutter-top-large">
            <h5 class="caps text-center">People</h5>
            <h1 class="text-success text-center jumbo">{{totalPeopleIn | waiting | dkNumber : 2}}</h1>
            <linechart data="peopleInData" options="charts.options" charttype="line" trigger="tabs.counter" class="ct-success"></linechart>
          </div>
          <div class="col-sm-6 gutter-top-large">
            <h5 class="caps text-center">Transactions</h5>
            <h1 class="text-warning text-center jumbo">{{totalTransactions | waiting | dkNumber : 2}}</h1>
            <linechart data="transactionsData" options="charts.options" trigger="tabs.counter" class="ct-warning"></linechart>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div id="camera-list" class="col-xs-12 p-top p-bottom">
      <ul>
        <li ng-repeat="floor in store.floors">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 floorplan-container">
            <h3 class="caps floorplan-title">{{floor.name}}</h3>
            <div class="floorplan">
              <ul class="list">
                <li ng-repeat="cam in cameras | filter : {floor: floor._id} | filter : camSearch" ng-style="{'position' : 'absolute', 'left' : cam.pos.x + '%', 'top' : cam.pos.y + '%'}">
                  <a href="/#/store/camera/{{cam._id}}" ng-mouseenter="setSelectedCam(cam)" ng-mouseleave="setSelectedCam(null)">
                    <div class="floorplan-pin icon-location2 animate-drop a">
                      <div class="floorplan-pin-shadow"></div>
                    </div>
                  </a>
                </li>
              </ul>
              <img ng-src="api/stores/floorplans/{{floor._id}}" class="polaroid-image">
            </div>
          </div>
        </li>
      </ul>

    </div>
  </swiper-slide>
</swiper>
</tabs>
