<div class="page container-fluid">
   <!-- <h1 class="big-text stamped text-center"> No Widgets Awailable</h1> -->
   <div class="container animate-fade">
   	<div class="col-sm-6 text-right text-xs-center">
   		<div class="widget widget-content inline-block">
            <div style="border: 5px solid white; box-shadow : 0px 1px 5px rgba(0,0,0,0.4);" class="">
        		<img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=198" alt="" class="">
        	</div>
        </div>
   	</div>
   	<div class="col-md-6 text-xs-center">
        <h1 class="big-text">{{user.firstname + ' ' + user.lastname}}</h1>
        <h5 class="caps">{{user.email}}</h5>
   	</div>
   </div>
</div>
